*{
    margin: 0;
    padding: 0;
}

.products-group{
width: 1200px;
display: flex;
flex-wrap:wrap;
margin: auto;
justify-content: center;
}

.product-item{
width: 200px;
padding: 10px;
margin: 10px 0px 10px 0px;
box-sizing: border-box;
flex-direction: column;
border-bottom: 1px dotted #888888;
}

.content{
    width: 180px;
    height: 172px;
}

h3{
    width: 100%;
    font-family: "SF Pro TC","SF Pro Text","SF Pro Icons","PingFang TC",system-ui,"Segoe UI","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 13px;
    color: #666666;
    font-weight:normal;
    text-align: left;

    /* 隱藏超過兩行的字 */
    overflow: hidden;
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2; /*行數*/
    -webkit-box-orient: vertical;
}

img{
    width: 160px;
    height: 160px;
    display: flex;
    margin: auto;
}

.slogan{
    font-family: "SF Pro TC","SF Pro Text","SF Pro Icons","PingFang TC",system-ui,"Segoe UI","Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #DD2726;
    padding: 5px;
    width: 160px;
    font-size: 13px;
    line-height: 30px;
    text-align: left;
    /* display: block; */
}

.price{
    font-family: "SF Pro TC","SF Pro Text","SF Pro Icons","PingFang TC",system-ui,"Segoe UI","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 24px;
    color: #d62872;
    width: 160px;
    padding: 0px 10px 0px 10px;
}

.money{
    font-family: "SF Pro TC","SF Pro Text","SF Pro Icons","PingFang TC",system-ui,"Segoe UI","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 12px;
    color: #d62872;
    margin: auto;
}

.note{
    font-family: "SF Pro TC","SF Pro Text","SF Pro Icons","PingFang TC",system-ui,"Segoe UI","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 12px;
    color: #999999;
    line-height: 15px;
}

.notice{
    font: bold 13px/26px Helvetica;
    color: #969696;
    text-align: center;
    display: block;
    margin-top: -1px;
}

.rate
{
    display:block;
    width: 180px;
}

.rate img
{
    width: 15px;
    height: 15px;
    vertical-align: middle;
    display:inline-block;
    box-sizing: border-box;
    background-position: center;
}

.RateCount{
    font-size: 12px;
    line-height: 15px;
    color: #b3b3b3;
    
}

.product-item .content .sales{
    width: 160px;
    padding: 4px 10px 4px 10px;
    font-size:13px;
    line-height: 25px;
    color: #454545;
    text-align: left;
    display: block;
}

.bottom{
    background-color: #EEEEEE;
    width: 170px;
    height: 26px;
    margin: 1px auto 0px;
    padding: 0px 5px 0px 5px;
    border-radius: 3px;
    display: block;
    text-align: right;
    margin-top: auto;
}

.icon{
    background-color: #FF4C76;
    color: #FFFFFF;
    font: 12px/26px Helvetica;
    margin: 1px;
    padding: 2px 4px;
    border-radius: 3px;
}

.gift{
    background-color: #FF4C76;
    color: #FFFFFF;
    font: 12px/26px Helvetica;
    margin: 1px;
    padding: 2px 4px;
    border-radius: 3px;
}

.fast{
    background-color: #BE0211;
    color: #FFFFFF;
    font: 12px/26px Helvetica;
    margin: 1px;
    padding: 2px 4px;
    border-radius: 3px;
}

