*{
    margin: 0;
    padding: 0;
}

/* 組織名稱欄 */
.header-title {
    display: flex;
    margin-top: 15px;
    margin-bottom: 15px;
    border-bottom: 1px #ccc solid;
    
}

.organize{
    color: #999;
    line-height: 37px;
    font-size: 22px;
    margin-right: 20px;
    margin-left: 30px;
}

.name{
    line-height: 37px;
    font-size: 24px;
    color: var(--main-color);
}

/* 正式版面 */
.wrap{
    width: calc(100% - 200px);
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.container{
    color: #333333;
    flex-direction: column;
    margin-bottom: 90px;
}

/* 麵包屑 */
.breadcrumb {
    background-color: #edecec;
    padding: 8px 15px;
    border-radius: 4px;
    font-size: 15px;
    line-height: 20px;
}

.breadcrumb a{
    display: inline-block;
    padding: 0;
    color: #333333;
    margin-left: 15px;
}

/* 正式頁面 */
h4{
    display: inline-block;
    margin: 15px;
    margin-bottom: 15px;
    padding: 3px;
    font-weight: bold;
    border-bottom: #ccc solid 2px;
}

.data-log{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.contact-person, .applicants{
    margin-bottom: 50px;
}

h3{
    display: block;
    padding: 10px;
    background-color: #edecec;
    margin-bottom: 20px;
    margin-top: 20px;
    border-radius: 5px;
}

.table-log{
    display: flex;
    flex-direction: row;
}

.list-group{
    width: 50%;
    border-radius: 0%;
}

.table{
    margin-bottom: 0;
    margin-left: 30px;
    border: #ccc solid 1px;
}